.accordion {
	&__panel {
		position: relative;
		float: left;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		&--open {
			.accordion__content {
				display: block;
			}
		}
	}
	&__title {
		margin: 0;
		border: 1px solid grey;
		background-color: lightcoral;
	}

	&__titleLink {
		display: block;
		padding: 4px 10px;
		text-decoration: none;
		color: #000;
	}

	&__content {
		display: none;
		padding: 10px;
		border: 1px solid grey;
		border-top: none;
	}

	&__tabs {
		position: absolute;
		float: left;
		visibility: hidden;
		height: 42px;
		overflow: hidden;
		list-style-type: none;
		margin: 0;
		padding: 0;


		&__panel {
			float: left;
			display: block;
			width: auto;

			&--open {
				background-color: lightcoral;
			}
		}

		&__titleLink {
			display: block;
			padding: 10px 50px;
		}
	}
}



